.head-dao {
    width: 100%;
}

.head {
    width: 100%;
    float: left;
}

.head ul {
    display: block;
    width: 100%;
}

.head ul li {
    float: left;
    display: block;
    list-style: none;
    text-align: center;
}

.head-one img {
    height: 1.25rem;
    width: 1.25rem;
    padding: 0.5rem 0 0 0.2em;
}

.head-two img {
    height: 2rem;
    width: 7rem;
    margin: 0 3.75rem;

}

.head-three img {
    height: 1.25rem;
    width: 1.4rem;
    padding-top: 0.5rem;
}

/*导航栏部分*/
.head-dao .dao {
    float: left;
    width: 100%;
    margin: 0 auto;
    background: rgba(245, 245, 245, 0.6);
    display: none;
}

.head-dao .dao ul {
    margin: 0 auto;
    width: 90%;
}

.head-dao .dao ul li {
    border-bottom: 1px solid #c8c8c8;
    list-style: none;
    text-align: center;
}

.head-dao .dao ul li a {
    line-height: 2rem;
    text-decoration: none;
    font-size: 0.65rem;
    color: #585757;
}